@tailwind base;
@tailwind components;
@tailwind utilities;



.background1 {
  background-image: url('/images/background1.jpg');
  background-size: cover;
  background-position: center;
}

.hover-cursor {
  cursor: pointer; /* Tu peux utiliser 'pointer' ou 'crosshair', 'default', etc. */
}