@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



.background1 {
  background-image: url('/images/background1.jpg');
  background-size: cover;
  background-position: center;
}

.hover-cursor {
  cursor: pointer; /* Tu peux utiliser 'pointer' ou 'crosshair', 'default', etc. */
}


input {
  background-color: rgb(50, 50, 50);
  opacity: 90%;
  height: 45px;
  padding: 5px;
}

textarea{
  background-color:  rgb(50, 50, 50);
  opacity: 90%;
  padding: 7px;

}