@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



.background1 {
  background-image: url('/images/background1.jpg');
  background-size: cover;
  background-position: center;
}

.hover-cursor {
  cursor: pointer; /* Tu peux utiliser 'pointer' ou 'crosshair', 'default', etc. */
}


input {
  background-color: rgb(50, 50, 50);
  opacity: 90%;
  height: 45px;
  padding: 5px;
  color: white;
}

textarea{
  background-color:  rgb(50, 50, 50);
  opacity: 90%;
  padding: 7px;
  color: white;

}
.footer-link{
  color:gray

}










.swiper {
  width: 85%; /* Prendre toute la largeur disponible */
  height: 100%; /* Optionnel : pour s'assurer que la hauteur est aussi fluide */


}


/* Class de chaque image du carrousel */
.swiper-slide {
  transition: transform 0.3s ease;

  


}




.carousel-image {
  width:80%;
  height:450px;
    
   



  
  transition: transform 0.3s ease; 
  
}










.swiper-slide-next .carousel-image,
.swiper-slide-prev .carousel-image {
  transform: scale(0.9);  /* Réduire les images suivantes et précédentes */
  opacity: 0.7; /* Optionnel : Réduire l'opacité des images non actives */
}


.swiper-wrapper {
  width: 100%;      /* S’étend sur toute la largeur disponible */
  max-width: 500px;  
  padding: 40px;


  /* Aligne tes slides en ligne */
}




